body{
    padding: 0;
    margin: 0;
}

/*mobile first*/

#mapCanvas{
    height: 100%;
    width: 100%;
    background-color: #0000ff;
}


#dropDown_container{
    position: absolute;
    top: 0;
    width: 100%;
}

#dropDown{
    font-size: 5em;
    background-color: antiquewhite;
    width: 90%;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1vh;
    text-align: center;
}

#dropDown_container .dropped{
    border-radius: 1vh 1vh 0 0;
    box-shadow: 1px 1px 10px gray;
}

#dropDown textarea{
    padding: 2vh;
    margin: 0 auto;
    font-size: 1em;
    border: none;
    background-color: transparent;
    height: inherit;
    text-align: center;
}

#dropDown_content{
    display: none;
    padding: 0;
    margin: 0;
    margin: 0 auto;
    width: 90%;
    background-color: antiquewhite;
    border-radius: 0 0 1vh 1vh;
    z-index: -10;
}

#dropDown_content ul{
    list-style-type: none;
    font-size: 4em;
    padding: 0;
    margin: 0;
}

#details{
    position: absolute;
    bottom: 0;
    height: 30vh;
    width: 100%;
    background-color: beige;
}

#detailsContainer{
    width: 98%;
    font-family: sans-serif;
    margin: auto;
}

#detailsContainer h1{
    
}

#callButton{
    bottom: 0;
    background-color: greenyellow;
    margin: auto;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

#callButton p{
    margin: auto;
    height: auto;
    width: auto;
    text-align: center;
    font-size: 45px;
    color: white;
}