body{
    padding: 0;
    margin: 0;
}

/*mobile first*/

#mapCanvas{
    height: 100%;
    width: 100%;
}

#misc{
    position: absolute;
    width: 100%;
    bottom: 0;
}

#mapControl{
    float: right;
    bottom: 0;
}

#mapControl button{
    margin: 1vh;
    height: 4vh;
    width: 4vh;
    border-radius: 4px;
    border: 0;
    box-shadow: 0px 2px 5px grey;
}


#dropDown_container{
    position: absolute;
    top: 0;
    width: 100%;
}

#dropDown{
    font-size: 5em;
    background-color: antiquewhite;
    width: 90%;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1vh;
    text-align: center;
    transition: all .4s ease;
    padding: 
}

#dropDown_container .dropped{
    border-radius: 1vh 1vh 0 0;
    box-shadow: 0px 3px 10px #727272;
    opacity: 0.99;
}

#dropDown_content{
    padding: 0;
    margin: 0;
    margin: 0 auto;
    width: 90%;
    background-color: antiquewhite;
    border-radius: 0 0 1vh 1vh;
    z-index: -10;
    transition: all .4s ease;
    height: 0;
    overflow: hidden;
}

#dropDown_container .droppedContent{
    display: block;
    box-shadow: 0px 3px 10px #727272;
    background-color: aqua;
    height: 50vh;
    overflow: auto;
}

#dropDown_container .dropped input{
    border-color: aqua;
    background-color: aqua;
}

#dropDown input{
    padding: 1vh;
    margin: 1vh;
    font-size: .5em;
    border: none;
    background-color: transparent;
    height: inherit;
    text-align: center;
    width: 90%;
}

#dropDown_content ul{
    list-style-type: none;
    font-size: 4em;
    padding: 0;
    margin: 0;
}

#details{
    height: 0vh;
    width: 100%;
    background-color: #b65454;
    overflow: hidden;
}

#detailsContainer{
    width: 98%;
    font-family: sans-serif;
    margin: auto;
}

#detailsContainer h1{
    
}

#callButton{
    bottom: 0;
    background-color: greenyellow;
    margin: auto;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

#callButton p{
    margin: auto;
    height: auto;
    width: auto;
    text-align: center;
    font-size: 45px;
    color: white;
}